/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Raleway";
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Header Content */
.header {
	max-width: 1000px;
	margin: 0 auto;
	display: block;
	border-bottom: 4px solid #bcbbbb;
	padding: 20px 0 8px;
}
.header-logo {
	float: left;
	width: 115px;
}
.header h1,
.header p {
	text-align: right;
	text-transform: uppercase;
}
.header h1 {
	font-weight: 100;
	margin: 0;
	padding: 0;
	font-size: 3.6em;
}
.header p {
	font-weight: 400;
	margin: 0;
	font-size: 1.3em;
	padding-bottom: 20px;
	margin-top: 8px;
}
/* Main Content */
.content {
	max-width: 1000px;
	margin: 0 auto;
}
.hero {
	margin-top: 30px;
}
.hero img {
	width: 100%;
}
/* Featured Work / Projects */
.projects {
	font-family: "Roboto";
}
.projects h2 {
	color: #bcbbbb;
	margin: 30px 0 10px 18px;
	font-size: 2.2em;
	font-weight: 300;
}
.project {
	float: left;
	width: 30.3333333%;
	text-align: center;
	margin-right: 4.5%;
	overflow: hidden;
	color: #666756;
}
.project a {
	text-decoration: none;
	color: #666756;
}
.project img {
	width: 100%;
}
.project h3 {
	font-size: 2.5em;
	font-weight: 400;
	margin-top: 15px;
}
.last {
	margin-right: 0;
}