/*

General Styles

*/
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Playfair Display';
  background: #fff;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header, .content, .nav, .footer {
	max-width: 1280px;
	margin: 0 auto;
}

.content {
	-webkit-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.56);
	-moz-box-shadow:    0px 1px 6px 0px rgba(50, 50, 50, 0.56);
	box-shadow:         0px 1px 6px 0px rgba(50, 50, 50, 0.56);
}

/*

Header Content

*/

.header {
	margin: 0 auto;
	display: block;
	padding: 10px 10px 10px;
	border-bottom: 4px solid #b20000;
}

.header-logo {
	float: left;
	width: 115px;
	margin-top: 2%;
}

.header-description,
.header-title {
	text-align: right;
}

.header-title {
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 2.5em;
}

.header-description {
	font-weight: 400;
	margin: 0;
	font-size: 1em;
	padding-bottom: 20px;
	margin-top: 1%;
}

/*

Navigation

*/

.nav {
	display: block;
	overflow: hidden;
}

.nav-list {
	min-height: 42px;
	background: #d90000;
}

.nav-item {
	box-sizing: border-box;
  	display: inline-block;
	float:left;
	width: 25%;
	display: block;
	line-height: 32px;
}

.nav-item a {
	color: #fff;
	text-decoration: none;
	display: block;
	min-height: 32px;
	padding: 1.5% 5%;
	text-align: center;
}

.nav-item a:hover {
	background: #b20000;
}

/*

Main Content

*/

.content {
	margin: 0 auto;
}

.hero {
	background: url('images/image01.jpg') center bottom no-repeat;
	background-size: cover;
	width: 100%;
	max-height: 33%;
}

.description {
	font-size: 26px;
	padding: 2% 10%;
	text-align: center;
}

.description em {
	font-size: 46px;
}

.description strong {
	color: #D80000;
	display: block;
}

.header-menu {
	display: block;
}

/*

Featured Work Title Alternative

*/
.page-info {
  width: 80%;
  display: block;
  background: #fff;
  opacity: 0.9;
  text-align: center;
  padding: 4% 5%;
  margin: 6% auto;
}

/*

Featured Work / Projects

*/

.projects h2 {
	color: #d80000;
	font-style: italic;
	text-align: center;
	margin-bottom: 20px;
	font-size: 2em;
}

.projects h3 {
	color: #d80000;
	font-size: 1.5em;
	font-weight: 300;
	font-family: 'Playfair Display', Serif;
}

.project {
	font-family: Arial, Sans-serif;
}

.project {
	float: left;
	width: 26.3333333%;
	margin-left: 5.5%;
	overflow: hidden;
	color: #666756;
	text-align: center;
}

.project a {
	text-decoration: none;
	color: #d90000;
}

.project img {
	width: 100%;
}

.project h3 {
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 15px;
}

.project p {
	min-height: 108px;
}