.container
 {
	display: flex;
	flex-wrap: wrap;
}
.header-menu {
	display: none;
}
.hero,
.projects,
.nav,
.header {
	width: 100%;
	overflow: hidden;
}
@media screen and (max-width: 549px) {
	.header-menu {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 5px;
		padding: 1em;
	}
	.header-menu svg {
		width: 32px;
	}
	.nav {
		z-index: 10;
		width: 300px;
		background: #d90000;
		left: 0;
		position: absolute;
		-webkit-transform: translate(-300px, 0);
		transform: translate(-300px, 0);
		transition: transform 0.4s ease;
	}
	.nav.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.nav-item {
		display: list-item;
		border-bottom: 1px solid #e0e0e0;
		width: 100%;
		text-align: left;
	}
	.header {
		padding: 5% 20% 5% 5%;
	}
	.header-menu {
		display: inline-block;
		position: absolute;
		right: 0;
		padding: 1em;
	}
	.header h1,
	.header p {
	}
	.header h1 {
		font-size: 1.4em;
		font-weight: bold;
	}
	.header p {
		font-size: 0.8em;
	}
	.header-logo {
		width: 74px;
	}
	/* Projects */
	.project {
		width: 96%;
		border-bottom: 0;
		border-top: 1px solid #ccc;
		padding: 5% 2%;
		margin-left: 0;
	}
	.project h3,
	.project p
	{
		float: right;
		display: block;
		width: 45%;
		margin-left: 5%;
	}
	.project img {
		float: left;
		width: 50%;
	}
	.image-right h3,
	.image-right p,
	.image-right a {
		float: left;
		display: block;
		width: 45%;
		margin-left: 0%;
		margin-right: 5%;
	}
	.image-right img {
		float: right;
		width: 50%;
	}
	.page-info {
		background: #eee;
	}
	.project a {
		width: auto;
	}
	.project p {
		height: auto;
		font-size: 14px;
	}
	.project {
		text-align: left;
	}
}
@media screen and (min-width: 550px) {
	.header-menu {
		display: none !important;
	}
	.page-info {
		font-size: 1.5em;
	}
	.hero {
		margin-bottom: 2%;
		padding-bottom: 2em;
	}
}
@media screen and (min-width: 850px) {
	.hero {
		background: url("images/image01-2.jpg") center bottom no-repeat;
		background-size: cover;
	}
}
@media screen and (min-width: 1200px) {
	.hero {
		background: url("images/image01-3.jpg") center bottom no-repeat;
		background-size: cover;
	}
}